*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.settings
/.vscode
/.idea
/app/.settings
/app/.classpath
/app/.project
/app/.idea
/.project
